.aside {
    position: relative;
    min-height: 100%;
}

.logo {
    width: 150px;
    height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 16px 24px 16px 28px;
}

.sider {
    width: 224px;
    background: #404040;
    position: absolute;
    overflow: auto;
    padding-bottom: 24px;
    height: 100%;
}

.main {
    margin-left: 224px;
}

.container {
    margin: 24px 16px;
}

.content {
    background: #fff;
    padding: 24px;
}
